.app-outer-container {
	min-height: 100vh;
	background: #3baafc;
	background: linear-gradient(180deg, #3baafc 0%, #a0e5ff 100%);

	.app-inner-container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 20px 40px;
	}

	@media screen and (max-width: 625px) {
		.app-inner-container {
			padding: 10px 20px;
		}
	}
}