.search-bar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	position: relative;

	.search-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #ececec;
		width: 100%;
		padding: 5px 5px 5px 20px;
		border-radius: 25px;

		input {
			background-color: #ececec;
			font-family: "Roboto", sans-serif;
			margin-right: 5px;
			font-size: 16px;
			border: none;
			width: 100%;
			height: 100%;
		}

		input:focus {
			outline: none;
		}

		.button-group {
			--border-color: #00bbff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 30px;
			border-radius: 25px;

			.active {
				background-color: var(--border-color); 
			}

			>:first-child {
				height: 100%;
				border-top: 1px solid var(--border-color); 
				border-right: 1px solid var(--border-color);
				border-bottom: 1px solid var(--border-color); 
				border-left: 1px solid var(--border-color); 
				border-top-left-radius: 25px ;
				border-bottom-left-radius: 25px;
			}

			>:last-child {
				height: 100%;
				border: 1px solid var(--border-color);
				border-top: 1px solid var(--border-color); 
				border-right: 1px solid var(--border-color);
				border-bottom: 1px solid var(--border-color); 
				border-left: none;
				border-top-right-radius: 25px;
				border-bottom-right-radius: 25px;
			}

			button {
				padding: 5px 10px;
				font-family: "Montserrat", sans-serif;
			}
			
			button:hover {
				cursor: pointer;
				background-color: #3baafc;
			}
		}
	}

	form {
		width: 100%;
		display: flex;
	}
}

.search-results-container {
	background-color: #ececec;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 1px solid #00bbff; 
	position: absolute;
	z-index: 5;
	bottom: -2px;

	left: 25px;
	width: 300px;
	transform: translateY(100%);
	overflow: hidden;

	ul {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;

		li {
			list-style-type: none;
			padding: 5px 10px;
			border-bottom: 1px solid #ccc;
		}

		li:last-child{
			border-bottom: none;
		}

		li:hover {
			cursor: pointer;
			background-color: #cfebff;
		}
	}
}

@media screen and (max-width: 625px) {
	.search-bar-container {
		width: fit-content;

		.search-results-container {
			max-width: 200px;
		}
	}
}